
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(219, 157, 57, 0.5);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(219, 157, 57, 0.8);
}

/* Optimize image rendering for sharpness without changing dimensions */
img {
  image-rendering: -webkit-optimize-contrast; /* Safari/Chrome */
  image-rendering: crisp-edges;               /* Firefox */
  image-rendering: pixelated;                 /* General fallback for small icons */
}

/* Ensure Next.js images also inherit these properties */
[data-next-image] {
  image-rendering: inherit;
}
